
 
html { 
    background: url('123.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'EB Garamond', serif;
    text-align: center;
    font-size: 150%;
    
    
  }
 h1
{
    
    color:  #e6e6e6;
    margin-bottom: 0px;
    font-weight: normal;
    
}
h2{
   
    color:  #e6e6e6;
    margin-top: 0px;
}
p {
    color:  #e6e6e6;
    
}

.me  {
    height: 150px;
    border-radius: 100%;
    border-style: solid;
    border-color: white;
}
    
 

#wrapper {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    margin-top: 40px;

}

.grey {
    height: 3px;
    background-color:rgb(75, 111, 134);
    border: none;
    width: 160px;

}


a:link {
    text-decoration: none;
    color: #e6e6e6;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
